  - name: Kubernetes | Bootstrap Certs
    command: kubeadm alpha phase certs all --config "{{ kubernetes.configfile }}"
    register: bootstrap_certs
    tags:
      - cluster

  - name: Kubernetes | Bootstrap Kubelet Config
    command: kubeadm alpha phase kubelet config write-to-disk --config "{{ kubernetes.configfile }}"
    register: bootstrap_kubelet_config
    tags:
      - cluster

  - name: Kubernetes | Bootstrap Environment
    command: kubeadm alpha phase kubelet write-env-file --config "{{ kubernetes.configfile }}"
    register: bootstrap_environment
    tags:
      - cluster

  - name: Kubernetes | Bootstrap Kubeconfig
    command: kubeadm alpha phase kubeconfig kubelet --config "{{ kubernetes.configfile }}"
    register: bootstrap_kubeconfig
    tags:
      - cluster

  - name: Kubernetes | Bootstrap ETCD
    command: "kubectl exec -n kube-system etcd-{{ hostvars[ groups['root_cluster'][0] ]['ansible_ha'] }} -- etcdctl --ca-file /etc/kubernetes/pki/etcd/ca.crt --cert-file /etc/kubernetes/pki/etcd/peer.crt --key-file /etc/kubernetes/pki/etcd/peer.key --endpoints=https://{{ hostvars[ groups['root_cluster'][0] ]['ansible_eth0']['ipv4']['address'] }}:2379 member add {{ inventory_hostname }} https://{{ hostvars[inventory_hostname]['ansible_eth0']['ipv4']['address'] }}:2380"
    register: bootstrap_etcd
    tags:
      - cluster

  - name: Kubernetes | Join ETCD
    command: kubeadm alpha phase etcd local --config "{{ kubernetes.configfile }}"
    register: join_etcd
    tags:
      - cluster

  - name: Kubernetes | Deploy Kubeconfig
    command: kubeadm alpha phase kubeconfig all --config "{{ kubernetes.configfile }}"
    register: deploy_kubeconfig
    tags:
      - cluster

  - name: Kubernetes | Deploy Controlplane
    command: kubeadm alpha phase controlplane all --config "{{ kubernetes.configfile }}"
    register: deploy_controlplane
    tags:
      - cluster

  - name: Kubernetes | Mark Master
    command: kubeadm alpha phase mark-master --config "{{ kubernetes.configfile }}"
    register: mark_master
    tags:
      - cluster
