  # Create the intial cluster config
  - name: Kubernetes | Write Root Cluster Config
    template:
      src: kubeadm-config-root.yml.j2
      dest: /etc/kubernetes/kubeadm-config-root.yml
      owner: root
      group: root
      mode: 0644
    tags:
      - cluster

  # Deploy the root cluster
  - name: Kubernetes | Deploy Root Control Plane
    command: kubeadm init --config /etc/kubernetes/kubeadm-config-root.yml
    register: root_cluster_deploy
    tags:
      - cluster

  # Copy the generated kubectl config
  - name: Kubernetes | Copy Config
    command: mv /etc/kubernetes/admin.conf ~/.kube/config
    tags:
      - cluster

  # Create and exports
  - name: Kubernetes | Create Certs Directory
    file:
      path: ~/pki
      state: directory
      owner: "{{ ansible_user_id }}"
      group: "{{ ansible_user_id }}"
    tags:
      - cluster

  - name: Kubernetes | Create ETCD Directory
    file:
      path: ~/pki/etcd
      state: directory
      owner: "{{ ansible_user_id }}"
      group: "{{ ansible_user_id }}"
    tags:
      - cluster

  - name: Kubernetes | Copy Certs
    command: cp ~/.kube/config /etc/kubernetes/pki/ca.crt /etc/kubernetes/pki/ca.key /etc/kubernetes/pki/sa.key /etc/kubernetes/pki/sa.pub /etc/kubernetes/pki/front-proxy-ca.crt /etc/kubernetes/pki/front-proxy-ca.key ~/pki
    tags:
      - cluster

  - name: Kubernetes | Copy ETCD Certs
    command: cp /etc/kubernetes/pki/etcd/ca.crt /etc/kubernetes/pki/etcd/ca.key ~/pki/etcd
    tags:
      - cluster

  - name: Kubernetes | Create Certs Archive
    format: tar
    archive:
      path: ~/pki
      dest: ~/pki.tar.gz
    tags:
      - cluster

  # Download Certs for distribution
  - name: Kubernetes | Download Certs Archive
    fetch:
      src: ~/pki.tar.gz
      dest: ./pki.tar.gz
      flat: yes
    tags:
      - cluster
