apiVersion: kubeadm.k8s.io/v1alpha2
kind: MasterConfiguration
kubernetesVersion: v1.11.0
apiServerCertSANs:
- "{{ kubernetes.load_balancer.dns }}"
api:
    controlPlaneEndpoint: "{{ kubernetes.load_balancer.dns }}:{{ kubernetes.load_balancer.port }}"
etcd:
  local:
    extraArgs:
      listen-client-urls: "https://127.0.0.1:2379,https://{{ hostvars[inventory_hostname]['ansible_eth0']['ipv4']['address'] }}:2379"
      advertise-client-urls: "https://{{ hostvars[inventory_hostname]['ansible_eth0']['ipv4']['address'] }}:2379"
      listen-peer-urls: "https://{{ hostvars[inventory_hostname]['ansible_eth0']['ipv4']['address'] }}:2380"
      initial-advertise-peer-urls: "https://{{ hostvars[inventory_hostname]['ansible_eth0']['ipv4']['address'] }}:2380"
      initial-cluster: "master01=https://{{ hostvars[ groups['root_cluster'][0] ]['ansible_eth0']['ipv4']['address'] }}:2380,master02=https://{{ hostvars[ groups['second_cluster'][0] ]['ansible_eth0']['ipv4']['address'] }}:2380,master03=https://{{ hostvars[inventory_hostname]['ansible_eth0']['ipv4']['address'] }}:2380"
      initial-cluster-state: existing
      name: master03
    serverCertSANs:
      - master03
      - {{ hostvars[inventory_hostname]['ansible_eth0']['ipv4']['address'] }}
    peerCertSANs:
      - master03
      - {{ hostvars[inventory_hostname]['ansible_eth0']['ipv4']['address'] }}
networking:
    podSubnet: "{{ kubernetes.networking.podCidr }}"
